{% extends "customerbase.html" %}
    {% block start %}
    
    <link rel="stylesheet" href="/static/css/fun4.css">

    <h3 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
    font-family: 'Freehand', cursive;
    font-family: 'Oswald', sans-serif;">ABOUT US</h3>
   <div id="about">
     
       <h4 style="text-align: center;font-family: 'Fjalla One', sans-serif;
       font-family: 'Freehand', cursive;
       font-family: 'Oswald', sans-serif;background-color: aliceblue">TVS Motor Company – The third largest 2-wheeler manufacturer in India</h4> 
       <p style="color:yellow ;">TVS Motor Company is the third largest 2-wheeler company in India with a revenue of over ₹18,217 crore (over US$2.9 billion). It has an annual sale of more than 3 million units and an annual capacity of over 4.95 million vehicles. TVS Motor is also the 2nd largest exporter in India with exports to over 60 Countries.</p>
  
       <div class="view" style="color:rgb(133, 4, 4);">
         <div class="a" style="text-align:center">
            <img src="/static/imges/tvs25.png">
            <h5>18217Cr revenue</h5>
         </div>
         <div class="b"style="text-align:center">
            <img src="/static/imges/tvs26.png">
            <h5>90 Companies Under The Umbrella</h5>
         </div>
         <div class="c"style="text-align:center">
            <img src="/static/imges/tvs27.png">
            <h5>4.95 Million Vehicle production capacity</h5>
         </div>
         
      </div>
     
      <footer>
         <div class="alert-dark" style="font-family: 'Fjalla One', sans-serif;
         font-family: 'Freehand', cursive;
         font-family: 'Oswald', sans-serif;padding: 20px;">
            <h2><ins>Contact us</ins></h2>
            <div class="guf">
            <div class="data" >
            <h5>Toll Free Number</h5>
            <h4 style="color: blue;">18002587555</h4>
            </div>
            <div class="ran">
               <h5>Email</h5>
               <h4 style="color: blue;">customercare@tvsmotor.com</h4>
            </div>
            </div>

            

            

            
            
         </div>
      </footer>
   </div>
    {% endblock %}