
    {% extends "adminbase.html" %}
    {% block start %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Freehand&family=Oswald:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/fun4.css">
    
    <h3 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
    font-family: 'Freehand', cursive;font-family: 'Oswald', sans-serif;">HOME</h3>


    

    

    <h3 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
    font-family: 'Freehand', cursive;
    font-family: 'Oswald', sans-serif;">Hello Admin..</h3>
    <img src="/static/imges/tvs30.png" style="width:1000px">
    
    
    
    {% endblock %}
