{% extends "customerbase.html" %}
{% block start %}
<link rel="stylesheet" href="/static/css/fun4.css">
<h3 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
font-family: 'Freehand', cursive;font-family: 'Oswald', sans-serif;">BOOK NOW</h3>
<form method="POST" enctype="multipart/form-data" style="width: 60%; margin:auto;">
    {%csrf_token%}

<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Enquiry Date</label>
      <input type="date" name='date'  class="form-control" id="inputEmail4" placeholder="enquiry date">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">ID Proof</label>
      <input type="file" name='identity' class="form-control"  id="inputPassword4" placeholder="Id Proof">
    </div>
    <div class="submit" style="margin-left: 50%;">
    <input type="submit" class="btn btn-warning" value="Book Now">
    </div>
  </div>
  {% if msg %}
  <script>
    alert("{{msg}}")
  </script>
  {% endif %}
{% endblock %}