
    {% extends "customerbase.html" %}
    {% block start %}
    
    <link rel="stylesheet" href="/static/css/fun4.css">
    <h3 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
    font-family: 'Freehand', cursive;
    font-family: 'Oswald', sans-serif;">Customer Home</h3>
    <h4 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
    font-family: 'Freehand', cursive;
    font-family: 'Oswald', sans-serif;">Hii <span style="color:white;">{{cust.first_name}}</span> Welcome to TVS family</h4>
    <div id="all">
        
        <img src="/static/imges/tvs31.png" style="margin-left:10%;">
        
        
        
        
        <img src="/static/imges/tvs32.png"style="margin-left:50%;">

        
    </div>
    
        
    {% endblock %}
