
    {% extends "commonbase.html" %}
    {% block start %}
    
    <link rel="stylesheet" href="/static/css/fun4.css">

    <h3 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
    font-family: 'Freehand', cursive;
    font-family: 'Oswald', sans-serif;">MORE IMAGES</h3>
    <div class="all" style="padding: 10px;">
        <img style="width: 300px;" src="/static/imges/tvs3.jpg">
        <img style="width: 300px;"src="/static/imges/tvs4.jpg">
        <img style="width: 300px;"src="/static/imges/tvs5.jpg">
        <img style="width: 300px;"src="/static/imges/tvs16.jpg">

        
    </div>
    {% endblock %}
