{% extends "customerbase.html" %}
    {% block start %}
    
    
    <link rel="stylesheet" href="/static/css/fun3.css">

  <div class="main">
    <div class="sub">
      <h3 style="padding: 20px;font-family: 'Fjalla One', sans-serif;
      font-family: 'Freehand', cursive;
      font-family: 'Oswald', sans-serif;">SPEC & FEATURES</h3>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
      </ol>
      <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-50" src="/static/imges/tvs4.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs5.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs13.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs15.png" alt="fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs16.jpg" alt="fifth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/motor.png" alt="sixth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/battery.png" alt="seventh slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs17.jpg" alt="eigth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs18.jpg" alt="nineth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs19.jpg" alt="tenth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs20.jpg" alt="eleventh slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="/static/imges/tvs21.png" alt="twelth slide">
      </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="field">
    <ul>
      <h4 style="color:rgb(238, 238, 124);"><ins>Tech Spec</ins></h4>
      <li>Range:75Km</li>
      <li>Top speed:78Km/h</li>
      <li>Battery Specifications:52V | li-ion| Fixed</li>
      <li>Rated Voltage:52V</li>
      
      <li>Charger Specifications:500W | onboard charger</li>
      <li>Motor Type:BLDC</li>
      <li>Motor output power:3kW(rated)4.4kW(peak)</li>
      <li>Motor Output Torque:140Nm peak</li>
      <li>Charging time:5Hours </li>
      <h4 style="color:rgb(238, 238, 124);"><ins>Chases</ins></h4>
      <li>Overall Length:1850mm</li>
      <li>Overall width:645mm</li>
      <li>Overall Hight:1140mm</li>
      <li>Wheel Base:1301mm</li>
      <li>Kerb Weight:118kg</li>
      <li>Pay load:130kg</li>
      <li>Max. Laden Weight:248kg</li>
      <li>Front Suspension:Telescopic hydraulic frame</li>
      <li>Rear Suspension:hydraulic Twin tube shock absorber </li>
      <li>under seat storage:21L </li>
      
    </ul>
  </div>
</div>
  
  {% endblock %} 
